In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
df = pd.read_csv('/content/drive/My Drive/Asteroid_Updated.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0,10,15,16,23,24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.head()

,name,a,e,i,om,w,q,ad,per_y,data_arc,...,UB,IR,spec_B,spec_T,G,moid,class,n,per,ma
0,Ceres,2.769165,0.076009,10.594067,80.305532,73.597694,2.558684,2.979647,4.608202,8822.0,...,0.426,NaN,C,G,0.12,1.59478,MBA,0.213885,1683.145708,77.372096
1,Pallas,2.772466,0.230337,34.836234,173.080063,310.048857,2.133865,3.411067,4.616444,72318.0,...,0.284,NaN,B,B,0.11,1.23324,MBA,0.213503,1686.155999,59.699133
2,Juno,2.669150,0.256942,12.988919,169.852760,248.138626,1.983332,3.354967,4.360814,72684.0,...,0.433,NaN,Sk,S,0.32,1.03454,MBA,0.226019,1592.787285,34.925016
3,Vesta,2.361418,0.088721,7.141771,103.810804,150.728541,2.151909,2.570926,3.628837,24288.0,...,0.492,NaN,V,V,0.32,1.13948,MBA,0.271609,1325.432765,95.861936
4,Astraea,2.574249,0.191095,5.366988,141.576605,358.687607,2.082324,3.066174,4.130323,63507.0,...,0.411,NaN,S,S,NaN,1.09589,MBA,0.238632,1508.600458,282.366289

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839714 entries, 0 to 839713
Data columns (total 31 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            21967 non-null   object
 1   a               839712 non-null  float64
 2   e               839714 non-null  float64
 3   i               839714 non-null  float64
 4   om              839714 non-null  float64
 5   w               839714 non-null  float64
 6   q               839714 non-null  float64
 7   ad              839708 non-null  float64
 8   per_y           839713 non-null  float64
 9   data_arc        824240 non-null  float64
 10  condition_code  838847 non-null  object
 11  n_obs_used      839714 non-null  int64
 12  H               837025 non-null  float64
 13  neo             839708 non-null  object
 14  pha             823272 non-null  object
 15  diameter        137636 non-null  object
 16  extent          18 non-null      object
 17  albedo          136409 non-null  float64
 18  rot_per         18796 non-null   float64
 19  GM              14 non-null      float64
 20  BV              1021 non-null    float64
 21  UB              979 non-null     float64
 22  IR              1 non-null       float64
 23  spec_B          1666 non-null    object
 24  spec_T          980 non-null     object
 25  G               119 non-null     float64
 26  moid            823272 non-null  float64
 27  class           839714 non-null  object
 28  n               839712 non-null  float64
 29  per             839708 non-null  float64
 30  ma              839706 non-null  float64
dtypes: float64(21), int64(1), object(9)
memory usage: 198.6+ MB

In [6]:
df.isnull().sum()

name              817747
a                      2
e                      0
i                      0
om                     0
w                      0
q                      0
ad                     6
per_y                  1
data_arc           15474
condition_code       867
n_obs_used             0
H                   2689
neo                    6
pha                16442
diameter          702078
extent            839696
albedo            703305
rot_per           820918
GM                839700
BV                838693
UB                838735
IR                839713
spec_B            838048
spec_T            838734
G                 839595
moid               16442
class                  0
n                      2
per                    6
ma                     8
dtype: int64

In [7]:
df.columns

Index(['name', 'a', 'e', 'i', 'om', 'w', 'q', 'ad', 'per_y', 'data_arc',
       'condition_code', 'n_obs_used', 'H', 'neo', 'pha', 'diameter', 'extent',
       'albedo', 'rot_per', 'GM', 'BV', 'UB', 'IR', 'spec_B', 'spec_T', 'G',
       'moid', 'class', 'n', 'per', 'ma'],
      dtype='object')

In [8]:
df2=df[~df['diameter'].isna()]
test_data = df[df['diameter'].isna()]

In [9]:
df2

,name,a,e,i,om,w,q,ad,per_y,data_arc,...,UB,IR,spec_B,spec_T,G,moid,class,n,per,ma
0,Ceres,2.769165,0.076009,10.594067,80.305532,73.597694,2.558684,2.979647,4.608202,8822.0,...,0.426,NaN,C,G,0.12,1.59478,MBA,0.213885,1683.145708,77.372096
1,Pallas,2.772466,0.230337,34.836234,173.080063,310.048857,2.133865,3.411067,4.616444,72318.0,...,0.284,NaN,B,B,0.11,1.23324,MBA,0.213503,1686.155999,59.699133
2,Juno,2.669150,0.256942,12.988919,169.852760,248.138626,1.983332,3.354967,4.360814,72684.0,...,0.433,NaN,Sk,S,0.32,1.03454,MBA,0.226019,1592.787285,34.925016
3,Vesta,2.361418,0.088721,7.141771,103.810804,150.728541,2.151909,2.570926,3.628837,24288.0,...,0.492,NaN,V,V,0.32,1.13948,MBA,0.271609,1325.432765,95.861936
4,Astraea,2.574249,0.191095,5.366988,141.576605,358.687607,2.082324,3.066174,4.130323,63507.0,...,0.411,NaN,S,S,NaN,1.09589,MBA,0.238632,1508.600458,282.366289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797860,NaN,3.171225,0.159119,27.098625,309.036573,19.746812,2.666623,3.675826,5.647402,2373.0,...,NaN,NaN,NaN,NaN,NaN,1.66301,MBA,0.174527,2062.713583,164.999439
798077,NaN,2.548410,0.076071,11.593237,246.298656,170.090810,2.354549,2.742270,4.068291,3297.0,...,NaN,NaN,NaN,NaN,NaN,1.36733,MBA,0.242270,1485.943371,145.319581
798189,NaN,3.146246,0.220559,17.966646,137.981403,180.898833,2.452313,3.840180,5.580811,2839.0,...,NaN,NaN,NaN,NaN,NaN,1.43837,MBA,0.176610,2038.391053,174.609920
799752,NaN,3.051336,0.287449,14.456779,343.917822,342.614839,2.174231,3.928440,5.330196,2208.0,...,NaN,NaN,NaN,NaN,NaN,1.16684,MBA,0.184914,1946.853973,175.708508
810375,NaN,2.417477,0.109001,4.525668,148.244819,31.949854,2.153970,2.680984,3.758822,3458.0,...,NaN,NaN,NaN,NaN,NaN,1.15942,MBA,0.262217,1372.909600,170.888415

In [10]:
print(df2.isnull().sum(),'\n')
df2.info()

name              122512
a                      0
e                      0
i                      0
om                     0
w                      0
q                      0
ad                     0
per_y                  0
data_arc             138
condition_code         0
n_obs_used             0
H                    747
neo                    0
pha                    0
diameter               0
extent            137620
albedo              1230
rot_per           126448
GM                137622
BV                136631
UB                136671
IR                137635
spec_B            136266
spec_T            136671
G                 137517
moid                   0
class                  0
n                      0
per                    0
ma                     0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137636 entries, 0 to 810375
Data columns (total 31 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            15124 non-null   object
 1   a               137636 non-null  float64
 2   e               137636 non-null  float64
 3   i               137636 non-null  float64
 4   om              137636 non-null  float64
 5   w               137636 non-null  float64
 6   q               137636 non-null  float64
 7   ad              137636 non-null  float64
 8   per_y           137636 non-null  float64
 9   data_arc        137498 non-null  float64
 10  condition_code  137636 non-null  object
 11  n_obs_used      137636 non-null  int64
 12  H               136889 non-null  float64
 13  neo             137636 non-null  object
 14  pha             137636 non-null  object
 15  diameter        137636 non-null  object
 16  extent          16 non-null      object
 17  albedo          136406 non-null  float64
 18  rot_per         11188 non-null   float64
 19  GM              14 non-null      float64
 20  BV              1005 non-null    float64
 21  UB              965 non-null     float64
 22  IR              1 non-null       float64
 23  spec_B          1370 non-null    object
 24  spec_T          965 non-null     object
 25  G               119 non-null     float64
 26  moid            137636 non-null  float64
 27  class           137636 non-null  object
 28  n               137636 non-null  float64
 29  per             137636 non-null  float64
 30  ma              137636 non-null  float64
dtypes: float64(21), int64(1), object(9)
memory usage: 33.6+ MB

In [11]:
df2.diameter = df2.diameter.astype(float)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [12]:
df3=df2.drop(['extent','rot_per','spec_T','spec_B','G','IR','UB','BV','GM','name'],axis=1)

In [13]:
df3

,a,e,i,om,w,q,ad,per_y,data_arc,condition_code,...,H,neo,pha,diameter,albedo,moid,class,n,per,ma
0,2.769165,0.076009,10.594067,80.305532,73.597694,2.558684,2.979647,4.608202,8822.0,0,...,3.34,N,N,939.400,0.0900,1.59478,MBA,0.213885,1683.145708,77.372096
1,2.772466,0.230337,34.836234,173.080063,310.048857,2.133865,3.411067,4.616444,72318.0,0,...,4.13,N,N,545.000,0.1010,1.23324,MBA,0.213503,1686.155999,59.699133
2,2.669150,0.256942,12.988919,169.852760,248.138626,1.983332,3.354967,4.360814,72684.0,0,...,5.33,N,N,246.596,0.2140,1.03454,MBA,0.226019,1592.787285,34.925016
3,2.361418,0.088721,7.141771,103.810804,150.728541,2.151909,2.570926,3.628837,24288.0,0,...,3.20,N,N,525.400,0.4228,1.13948,MBA,0.271609,1325.432765,95.861936
4,2.574249,0.191095,5.366988,141.576605,358.687607,2.082324,3.066174,4.130323,63507.0,0,...,6.85,N,N,106.699,0.2740,1.09589,MBA,0.238632,1508.600458,282.366289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797860,3.171225,0.159119,27.098625,309.036573,19.746812,2.666623,3.675826,5.647402,2373.0,1,...,16.20,N,N,3.793,0.0210,1.66301,MBA,0.174527,2062.713583,164.999439
798077,2.548410,0.076071,11.593237,246.298656,170.090810,2.354549,2.742270,4.068291,3297.0,2,...,17.30,N,N,2.696,0.0610,1.36733,MBA,0.242270,1485.943371,145.319581
798189,3.146246,0.220559,17.966646,137.981403,180.898833,2.452313,3.840180,5.580811,2839.0,1,...,16.80,N,N,2.917,NaN,1.43837,MBA,0.176610,2038.391053,174.609920
799752,3.051336,0.287449,14.456779,343.917822,342.614839,2.174231,3.928440,5.330196,2208.0,2,...,17.20,N,N,3.271,0.0720,1.16684,MBA,0.184914,1946.853973,175.708508
810375,2.417477,0.109001,4.525668,148.244819,31.949854,2.153970,2.680984,3.758822,3458.0,3,...,18.40,N,N,1.600,0.0230,1.15942,MBA,0.262217,1372.909600,170.888415

In [14]:
# sns.pairplot(df3)

In [15]:
df3.isnull().sum()

a                    0
e                    0
i                    0
om                   0
w                    0
q                    0
ad                   0
per_y                0
data_arc           138
condition_code       0
n_obs_used           0
H                  747
neo                  0
pha                  0
diameter             0
albedo            1230
moid                 0
class                0
n                    0
per                  0
ma                   0
dtype: int64

In [16]:
df3["albedo"].fillna(df["albedo"].mean(),inplace=True)
df3["H"].fillna(df["H"].mean(),inplace=True)
df3["data_arc"].fillna(df["data_arc"].mean(),inplace=True)

In [17]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137636 entries, 0 to 810375
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   a               137636 non-null  float64
 1   e               137636 non-null  float64
 2   i               137636 non-null  float64
 3   om              137636 non-null  float64
 4   w               137636 non-null  float64
 5   q               137636 non-null  float64
 6   ad              137636 non-null  float64
 7   per_y           137636 non-null  float64
 8   data_arc        137636 non-null  float64
 9   condition_code  137636 non-null  object
 10  n_obs_used      137636 non-null  int64
 11  H               137636 non-null  float64
 12  neo             137636 non-null  object
 13  pha             137636 non-null  object
 14  diameter        137636 non-null  float64
 15  albedo          137636 non-null  float64
 16  moid            137636 non-null  float64
 17  class           137636 non-null  object
 18  n               137636 non-null  float64
 19  per             137636 non-null  float64
 20  ma              137636 non-null  float64
dtypes: float64(16), int64(1), object(4)
memory usage: 23.1+ MB

In [18]:
categorical_column = ['neo','pha', 'class','condition_code']

for i in categorical_column:
  x = pd.get_dummies(df3[i],drop_first = True)
  df3 = pd.concat([df3,x],axis=1)

df3.drop(categorical_column,axis=1, inplace = True)

In [19]:
names = df3.columns.tolist()
names[names.index('1')] = 'one'
names[names.index('2')] = 'two'
names[names.index('3')] = 'three'
names[names.index('4')] = 'four'
names[names.index('5')] = 'five'
names[names.index('6')] = 'six'
names[names.index('7')] = 'seven'
names[names.index('8')] = 'eight'
names[names.index('9')] = 'nine'
names[names.index('Y')] = 'N'
df3.columns = names

In [20]:
df3.columns.values

array(['a', 'e', 'i', 'om', 'w', 'q', 'ad', 'per_y', 'data_arc',
       'n_obs_used', 'H', 'diameter', 'albedo', 'moid', 'n', 'per', 'ma',
       'N', 'Y', 'APO', 'AST', 'ATE', 'CEN', 'IMB', 'MBA', 'MCA', 'OMB',
       'TJN', 'TNO', 1, 2, 3, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, '0', 'one',
       'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'],
      dtype=object)

Model Selection

In [21]:
X = df3.drop("diameter",axis=1)
y = df3["diameter"]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

In [22]:
y_train = np.asarray(y_train).astype('float32')
y_test = np.asarray(y_test).astype('float32')

In [23]:
# eval_set=[(X_test, y_test)]

# import xgboost as xgb
# from xgboost.sklearn import XGBClassifier
# from sklearn.metrics import accuracy_score
# xgbc=xgb.XGBRegressor(learning_rate =0.1,
#                       n_estimators=1000,max_depth=5,min_child_weight=1
#                       ,gamma=0,subsample=0.8,colsample_bytree=0.8,
#                       objective='reg:linear',nthread=4,
#                       scale_pos_weight=1,seed=27)

# xgbc.fit(X_train, y_train, eval_metric='auc', eval_set=eval_set, early_stopping_rounds=50, verbose=True)
# predictions = xgbc.predict(X_test)
# accuracy_score(y_test,predictions)

In [24]:
import torch
import torch.nn as nn
import torch.nn.functional as f
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [25]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)


X_train = torch.from_numpy(X_train.astype(np.float32))
X_test = torch.from_numpy(X_test.astype(np.float32))
y_train = torch.from_numpy(y_train.astype(np.float32))
y_test = torch.from_numpy(y_test.astype(np.float32))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['float', 'int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['float', 'int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['float', 'int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [26]:
# import tensorflow as tf

# X_train = tf.convert_to_tensor(X_train, dtype=tf.float64)
# X_test = tf.convert_to_tensor(X_test, dtype=tf.float64)
# y_train = tf.convert_to_tensor(y_train, dtype=tf.float64)
# y_test = tf.convert_to_tensor(y_test, dtype=tf.float64)

# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense
# from tensorflow.keras.layers import LeakyReLU, PReLU, ELU, ReLU
# from tensorflow.keras.layers import Dropout

# regressor = Sequential()

# regressor.add(Dense(units = 51, activation = 'relu'))
# regressor.add(Dense(units = 51, activation = 'relu'))
# regressor.add(Dense(units = 37, activation = 'relu'))
# regressor.add(Dense(1, activation = 'relu'))

# opt = tf.keras.optimizers.SGD(learning_rate=0.1)

# regressor.compile(
#     optimizer = opt,
#     loss = 'mse',
#     # metrics = [tf.keras.metrics.MeanSquaredError()])
#     metrics = ['accuracy'])

# model_history = regressor.fit(X_train, y_train, validation_split = 0.33, batch_size = 10, epochs = 10)

# model_history.history.keys()

# plt.plot(model_history.history['accuracy'])
# plt.plot(model_history.history['accuracy'])
# plt.title('model_accuracy')
# plt.ylabel('accuracy')
# plt.xlabel('epoch')
# plt.legend(['train','test'], loc = 'upper left')
# plt.show()

In [27]:
n_samples, n_features = X_train.shape
n_features

47

In [28]:
class ANN_Model(nn.Module):
  def __init__(self, input_features = n_features, hidden1 = 47, hidden2 = 30, out_features = 1):
    super().__init__()
    self.f_connected1 = nn.Linear(input_features, hidden1)
    self.f_connected2 = nn.Linear(hidden1, hidden2)\
    self.out = nn.Linear(hidden2, out_features)

  def forward(self,x):
    x = f.relu(self.f_connected1(x))
    x = f.relu(self.f_connected2(x))
    x = self.out(x)
    return x

model = ANN_Model()

In [29]:
model.parameters

<bound method Module.parameters of ANN_Model(
  (f_connected1): Linear(in_features=47, out_features=47, bias=True)
  (f_connected2): Linear(in_features=47, out_features=30, bias=True)
  (f_connected3): Linear(in_features=30, out_features=15, bias=True)
  (out): Linear(in_features=15, out_features=1, bias=True)
)>

In [30]:
loss_f = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(),lr = 0.01)

In [ ]:
epochs = 50
final_losses = []
for i in range(epochs):
  y_pred = model.forward(X_train)
  loss = loss_f(y_pred, y_train)
  if ((i+1)%10==0):
    print(f'Epoch number: {i+1} and the loss: {loss.item()}')
  optimizer.zero_grad()
  final_losses.append(loss)
  loss.backward()
  optimizer.step()

/usr/local/lib/python3.7/dist-packages/torch/nn/modules/loss.py:530: UserWarning: Using a target size (torch.Size([96345])) that is different to the input size (torch.Size([96345, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)

In [ ]:
plt.plot(range(epochs), final_losses)
plt.xlabel("Epoch")
plt.ylabel("Loss")